#auth-info {
    width: 70%;
    position: absolute;
    left: 0;
    height: 100vh;
    background: url("../images/AuthBackground.jpg") no-repeat;
    background-size: cover;
    text-align: center;
}

#auth-info p {
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 40px;
    max-width: inherit;
    color: rgb(0, 0, 0);
    font-size: 34px;
    margin-top: 300px;
    animation: showBottom 1s;
}

@keyframes showBottom {
    from {margin-top: 1000px;}
    to {margin-top: 300px;}
}

.auth-form {
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 30px;
    position: absolute;
    width: 30%;
    top: 50%;
    margin-top: -25vh;
    right: 0;
    bottom: 0;
}

.auth-form h3 {
    position: relative;
    z-index: 5;
    margin: 0 0 60px;
    text-align: center;
    color: #4a90e2;
    font-size: 30px;
    font-weight: normal;
}

 .auth-form-row {
    position: relative;
    margin-bottom: 40px;
}

.auth-form-row input {
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #4a90e2;
    transition: all 0.2s ease;
}

.auth-form-row label {
    position: absolute;
    left: 13px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
}

.auth-form-row input:focus {
    outline: 0;
    border-color: #F77A52;
}

.auth-form-row input:focus+label, .auth-form-row input:valid+label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #F77A52;
    color: #F77A52;
}

.auth-form input[type="button"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #4a90e2;
    border-width: 0;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.auth-form input[type="button"]:hover {
    opacity: 0.8;
}

.auth-form p {
    margin: 0;
    padding-top: 10px;
}

@media (max-width: 1436px) {
    #auth-info {
        display: none;
    }

    #AuthPageBody {
        width: 100vh;
    }

    .auth-form {
        background-color: rgb(255, 255, 255);
        padding: 30px 30px 30px;
        position: absolute;
        width: 50vh;
        top: 50%;
        margin-top: -25vh;
        right: 50%;
        margin-right: -25vh;
        bottom: 0;
    }
}