html::-webkit-scrollbar {
    width: 7px;
}

html::-webkit-scrollbar-track {
    background-color: #ffffff;
}

html::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: linear-gradient(180deg, #00c6fb, rgb(19, 55, 102));
}

.content {
    padding: 65px 0px 0px 0px;
}

@media (max-width: 1436px) {
    .content {
        padding: 55px 0px 0px 0px;
    }
}