footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
}

#Dock {
    display: none;
}

#footer_dock {
    position: static;
    top: 5px;
    margin: auto;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25), 0px 5px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    height: 60px;
    width: 420px;
    border-radius: 15px;
    z-index: 3;
}

.DockImgs {
    transition: 0.3s;
    margin-top: 4.8px;
    width: 50px;
    height: 50px;
}

#VK_img {
    margin-left: 5px;
}

#Inst_img {
    margin-left: 10px;
}

#TG_img {
    margin-left: 10px;
}

#BNTU_img {
    border-radius: 10px;
    margin-left: 10px;
}

#EDU_img {
    border-radius: 10px;
    margin-left: 10px;
}

#FPB_img {
    border-radius: 10px;
    margin-left: 10px;
}

#FAQ_img {
    border-radius: 10px;
    margin-left: 10px;
}

.DockImgs:hover {
    transform: scale(1.2);
}

@media (max-width: 1436px) {
    #Dock {
        display: block;
        position: fixed;
        top: 5px;
        left: 5px;
        background: rgba(255, 255, 255, 0.4);
        height: 41px;
        width: 322px;
        border-radius: 10px;
        z-index: 51;
    }

    .DockImgs {
        transition: 0.3s;
        margin-top: 3px;
        width: 36px;
        height: 36px;
    }

    .DockImgs:hover {
        transform: scale(1.2);
    }

    #VK_img {
        margin-left: 5px;
    }
    
    #Inst_img {
        margin-left: 10px;
    }
    
    #TG_img {
        margin-left: 10px;
    }
    
    #BNTU_img {
        border-radius: 10px;
        margin-left: 10px;
    }

    #EDU_img {
        border-radius: 10px;
        margin-left: 10px;
    }
    
    #FPB_img {
        border-radius: 10px;
        margin-left: 10px;
    }
    
    #FAQ_img {
        border-radius: 10px;
        margin-left: 10px;
    }

    footer {
        display: none;
    }
}

@media (max-width: 451px) {
    #Dock {
        display: flex;
        position: fixed;
        overflow: auto;
        top: 5px;
        left: 5px;
        background: rgba(255, 255, 255, 0.4);
        height: 41px;
        width: 185px;
        border-radius: 10px;
        z-index: 51;
        overflow-y: hidden;
    }

    .DockImgs {
        transition: 0.3s;
        margin-top: 3px;
        width: 36px;
        height: 36px;
    }

    .DockImgs:hover {
        transform: scale(1.2);
    }

    #VK_img {
        margin-left: 5px;
    }
    
    #Inst_img {
        margin-left: 10px;
    }
    
    #TG_img {
        margin-left: 10px;
    }
    
    #BNTU_img {
        border-radius: 10px;
        margin-left: 10px;
    }

    #EDU_img {
        border-radius: 10px;
        margin-left: 10px;
    }
    
    #FPB_img {
        border-radius: 10px;
        margin-left: 10px;
    }
    
    #FAQ_img {
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 6px;
    }

    footer {
        display: none;
    }
}