.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    height: 400px;
    width: 400px;
    transform: scale(0.1);
    transition: 0.5s all;
}

.modal__content.active {
    transform: scale(1);
}

.modal-form {
    margin-top: 10%;
}

.modal-form h3 {
    position: relative;
    z-index: 5;
    margin: 0 0 60px;
    text-align: center;
    color: #4a90e2;
    font-size: 30px;
    font-weight: normal;
}

.modal-form-row {
    position: relative;
    margin-bottom: 40px;
}

.modal-form-row input {
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #4a90e2;
    transition: all 0.2s ease;
}

.modal-form-row label {
    position: absolute;
    left: 13px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
}

.modal-form-row input:focus {
    outline: 0;
    border-color: #F77A52;
}

.modal-form-row input:focus+label, .modal-form-row input:valid+label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #F77A52;
    color: #F77A52;
}

.modal-form input[type="button"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #4a90e2;
    border-width: 0;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.modal-form input[type="button"]:hover {
    opacity: 0.8;
}