@font-face {
    font-family: Magistral; /* Гарнитура шрифта */
    src: url("../../../fonts/MAGISTRAL.TTF"); /* Путь к файлу со шрифтом */
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Magistral;
}

html, body {
    height: 100%;
}

#header__logo {
    position: relative;
    height: 50px;
    width: 80px;
    padding-right: 10px;
    z-index: 3;
    transition: all 0.2s ease 0s;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(19, 55, 102);
    z-index: 2;
}

#container {
    max-width: 1920px;
    margin: 0px auto;
    padding: 0px 10px;
}

#header__body {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    transition: all 0.2s ease 0s;
}

.header__burger {
    display: none;
}

#header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

#header__list li {
    position: relative;
    list-style: none;
}

.header__link {
    color: white;
    letter-spacing: 0.8px;
    font-size: 14px;
    text-decoration: none;
    padding: 22px 1vw;
    padding-top: 24px;
    transition: all 0.2s ease 0s;
}

#header__list>li:hover >a{
    background-color: rgb(120, 142, 181);
}

.sub-header__list {
    min-width: 400px;
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    background-color: rgb(120, 142, 181);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 0.2s ease 0s;
}

.sub-header__list>li:hover {
    border-radius: 15px;
    background-color: rgb(229, 241, 252);
}

.sub-header__list>li:hover >a {
    color: rgb(6, 7, 45);
}

.sub-header__list a {
    width: 100%;
    color: white;
    letter-spacing: 0.8px;
    font-size: 18px;
    text-decoration: none;
}

.sub-header__link {
    display: inline-block;
    padding: 10px 15px;
}

.sub-sub-header__list {
    display: none;
    min-width: 400px;
    position: absolute;
    top: 100%;
    left: 10%;
    background-color: rgb(120, 142, 181);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.sub-sub-header__list>li:hover {
    border-radius: 15px;
    background-color: rgb(229, 241, 252);
}

.sub-sub-header__list>li:hover >a {
    color: rgb(6, 7, 45);
}

.sub-sub-header__link {
    display: inline-block;
    padding: 5px 10px;
}

.header__arrow.arrow {
    display: none;
}

body.mouse #header__list>li:hover .sub-header__list {
    display: block;
}

body.mouse .sub-header__list>li:hover .sub-sub-header__list {
    display: block;
}

@media (max-width: 1436px) {
    body.lock {
        overflow: hidden;
    }

    #header__body {
        height: 50px;
    }

    #header__logo {
        position: absolute;
        height: 40px;
        width: 65px;
        padding-right: 10px;
        z-index: 3;
        right: 40px;
        top: 5px;
    }

    .header__burger {
        display: block;
        position: absolute;
        width: 30px;
        height: 20px;
        z-index: 3;
        right: 5px;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger::before {
        top: 0;
        height: 2.5px;
    }

    .header__burger span {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger::after {
        bottom: 0;
        height: 2.5px;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(120, 142, 181);
        padding: 65px 10px 20px 10px;
        transition: all 0.5s ease 0s;
    }

    .header__menu.active {
        top: 0;
    }

    #header__list {
        position: absolute;
        display: block;
    }

    #header__list li {
        margin-bottom: 20px;
    }

    .header__link {
        color: rgb(4, 22, 46);
        font-size: 24px;
        padding: 10px 10px 10px 10px;
    }

    .header__arrow.arrow {
        display: inline-block;
    }

    .arrow {
        width: 0;
        height: 0;
        border-top: 11px solid rgb(4, 22, 46);
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        margin-bottom: 2px;
        transition: all 0.5s ease 0s;
    }

    .arrow.active {
        width: 0;
        height: 0;
        margin-bottom: 2px;
        transition: all 0.5s ease 0s;
        transform: rotate(180deg);
    }

    .sub-header__list {
        display: none;
    }

    #header__list>li .sub-header__list.open {
        margin-top: -30px;
        margin-bottom: 50px;
        border-radius: 0px;
        position: relative;
        display: block;
    }

    #header__list>li .sub-header__list.open li {
        margin-top: -15px;
        margin-left: 20px;
    }

    #header__list>li .sub-header__list.open li a {
        color: rgb(4, 22, 46);
    }







    #sub-sub-link {
        width: 163px;
    }

    .sub-header__list>li:hover {
        border-radius: 15px;
        background-color: rgb(120, 142, 181);
    }

    .sub-header__link.parent {
        background-color: rgb(120, 142, 181);
        border-radius: 0px;
    }

    .sub-sub-header__list {
        display: none;
        background-color: rgb(120, 142, 181);
        border-radius: 0px;
    }

    #header__list>li .sub-sub-header__list.open {
        margin-top: 20px;
        margin-bottom: 50px;
        border-radius: 0px;
        position: relative;
        display: block;
    }

    #header__list>li .sub-sub-header__list.open li {
        margin-top: -15px;
        margin-left: 30px;
    }

    #header__list>li .sub-sub-header__list.open li a {
        color: rgb(4, 22, 46);
    }
}