header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgb(67, 130, 213);
}

#BtnImg {
    margin-top: 3px;
    margin-left: 3px;
    border: none;
    height: 64px;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 102px;
    height: 70px;
    text-align: center;
}

.Links {
    height: 70px;
    width: 14%;
    background-color: white;
    color: black;
    border: none;
    border-top: 1px solid rgb(67, 130, 213);
    border-bottom: 1px solid rgb(67, 130, 213);
    font-size: 20px;
}

.Links:hover {
    border: 1px solid black;
    cursor: pointer;
}

#for_member_links {
    position: absolute;
    left: 36%;
    width: 14%;
    height: 300px;
    display: none;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 40%);
}

#for_member_link:hover #for_member_links{
    display: block;
}

.for_member_btns {
    height: 50px;
    width: 100%;
    color: rgb(91, 91, 91);
    border: none;
    border-bottom: 1px solid rgb(0 0 0 / 40%);
    font-size: 16px;
    background-color: white;
}

.for_member_btns:hover {
    background-color: rgb(67, 130, 213);
    color: white;
    cursor: pointer;
}

#about_links {
    position: absolute;
    left: 8%;
    width: 14%;
    height: 300px;
    display: none;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 40%);
}

#about_link:hover #about_links{
    display: block;
}

.about_btns {
    height: 50px;
    width: 100%;
    color: rgb(91, 91, 91);
    border: none;
    border-bottom: 1px solid rgb(0 0 0 / 40%);
    font-size: 16px;
    background-color: white;
}

.about_btns:hover {
    background-color: rgb(67, 130, 213);
    color: white;
    cursor: pointer;
}

#documents_links {
    position: absolute;
    left: 50%;
    width: 14%;
    height: 120px;
    display: none;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 40%);
}

#documents_link:hover #documents_links{
    display: block;
}

.documents_btns {
    height: 60px;
    width: 100%;
    color: rgb(91, 91, 91);
    border: none;
    border-bottom: 1px solid rgb(0 0 0 / 40%);
    font-size: 16px;
    background-color: white;
}

.documents_btns:hover {
    background-color: rgb(67, 130, 213);
    color: white;
    cursor: pointer;
}